
    body{
        background-image: url("mat.jpg");
        background-repeat: no-repeat;
        color: black;
        background-size: 1500px;
    }
    #output{
        background-color: white;
        border-radius: 10px;
        border-top: 10px solid red;
        padding: 10px;
        float: none;
        text-align: left;
        width: 70%;
    }

    input{
        color: black;
        width: 60%;
    }
    #send{
        background-color:transparent;
    }
    .number{
        font-size: 20px;
    }
    