body{
    background-image: url("math.jpg");
    background-repeat: no-repeat;
    color:white;
    background-size: 1500px;
}

button{
    background-color: transparent;
    border-color: transparent;
    color:white;
    font-size: 17px;
}
#login{
    width: 500px;
    position: relative;
    margin-left: 370px;
}
marquee{
    background-color: blue;
}
.user{
    background-color: white;
    color: black;
    
}
::placeholder {
    color: black;
  }
span{
    font-size: 17px;

}
h1{
    text-decoration: underline;
}
